#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#
parameters:
	testVariable: "hovno"
#		valueA: 'test value' # testovaci value

php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter



di:
	debugger: yes 

session:
	expiration: 14 days

services:
	- 
		class: App\Model\UserManager
		setup:
			- $substitutions( [db: test] )

	- App\Forms\SignFormFactory
	router: App\RouterFactory::createRouter
